body, table{
  text-align: center;
  font-size: 0.7rem;
}

div{
  margin: 1.5rem 0;
}
.tabel{
  margin: 2rem auto;
  // visibility: hidden;
}
.img-wrap {
  overflow: hidden;
  position: relative;
  :before {
    animation: img-wrap 5s cubic-bezier(.4, 0, .2, 1) forwards;
    background: #fff;
    bottom: 0;
    content: '';
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  } 
  @keyframes img-wrap {
    100% {
      transform: translateX(100%);
    }
  }
}


.img-wrap2 {
  overflow: hidden;
  position: relative; 
  :before {
    animation: img-wrap 10s cubic-bezier(.4, 0, .2, 1) forwards;
    background: #fff;
    bottom: 0;
    content: '';
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  @keyframes img-wrap {
    100% {
      transform: translateX(-100%);
    }
  }
}

.img-wrap3 {
  overflow: hidden;
  position: relative; 
  :before {
    animation: img-wrap 15s cubic-bezier(.4, 0, .2, 1) forwards;
    background: #fff;
    bottom: 0;
    content: '';
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  @keyframes img-wrap {
    100% {
      transform: translateX(-100%);
    }
  }
}
#p2{
  visibility: hidden;
}
